%li
  %p 画像（必須）
  = f.label :image, class: "form__image" do
    = f.file_field :image, class: "form__image__file"
%li
  %p タグ（必須）
  .form__tags
    = f.collection_check_boxes :tag_ids, Tag.all, :id, :text do |tag|
      = tag.label { tag.check_box + tag.text}
%li
  %p 商品名
  = f.text_field :product, class: "form__product", placeholder: "（必須）商品名を入力してください"
%li
  %p 商品ページ
  = f.text_field :link, class: "form__link", placeholder: "（任意）商品のURLを添付してください"
%li
  %p お気に入りポイント
  = f.text_area :body, class: "form__text", placeholder: "（必須）一押しのポイントを入力してください"
- if @content.image.present? && @content.product.present? && @content.body.present?
  %li
    = f.submit "更新する", class: "form__btn", data: {confirm: "更新してもよろしいですか？"}
- else
  %li
    = f.submit "投稿する", class: "form__btn", data: {confirm: "投稿してもよろしいですか？"}