!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title BEST.For-Me
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .wrapper
      .header
        .title
          = link_to 'BEST-for-me', root_path
        .info-box
          .info-box__search
            = link_to contents_searches_path do
              = icon('fa', 'search', class: "info-box__search")
          - if user_signed_in?
            .info-box__left-btn
              = link_to "｢#{current_user.name}さん｣ログイン中", user_path(current_user.id)
            .info-box__center-btn
              = link_to "ログアウト", destroy_user_session_path, method: :delete
            .info-box__right-btn
              = link_to '投稿する', new_content_path
          - else
            .info-box__left-btn
              = link_to 'ログイン', new_user_session_path
            .info-box__right-btn
              = link_to 'アカウントを作成', new_user_registration_path
      .notifications
        - flash.each do |key, value|
          = content_tag(:div, value, class: key)
      = yield
      .footer
        %small
          BEST.for-me 2020
